@model Indepandent.Models.developer

@{
    ViewBag.Title = "deve_register";
    @Styles.Render("~/Content/zgjstyle")
}
<div class="container deve_login">
    <form class="form-inline" role="search" action="/Search/SearchList" method="get" target="_blank">
        <div class="form-group">
            <input name="KeyWord" class="form-control mr-sm-2" type="text" placeholder="全站搜索">
        </div>
        <button class="btn my-2 my-sm-0" type="submit" style="background:none; margin-left:-3rem; color:#ff9d00;"><i class="fa fa-search"></i></button>
    </form>
</div>

