@model IEnumerable<Indepandent.Models.game_detail>
@foreach (var it in Model)
{
    <div class="col-md-3 new-grid-w3l view view-eighth">
        <img src="@it.picture" alt=" " />
        <div class="mask">
            <a href="single.html"><h4>点击</h4></a>
            <p>了解更多</p>
        </div>
    </div>
}